<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% if candidat[0] %}
    <h1>Найдено кандидатов {{candidate_count}}</h1>
    {% for person in candidat %}
    <p><a href="/candidate/{{person['id']}}">{{person["name"]}}</a></p>
    {% endfor %}
    {% else %}
    <h1>Отсутствуют кандидаты с таким именем</h1>
    {% endif %}
</body>
</html>